.container {
  padding: 0 2rem;
}

.album {
  width: 100%;
  padding: 0px 50px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  align-self: center;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 246px;
  height: 246px;
}

.avatar {
  width: 75px;
  border-radius: 100px;
}
