.container {
  padding: 0 2rem;
}

.album {
  width: 100%;
  padding: 0px 50px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.bigPhoto {
  width: 400px;
  align-self: center;
}

.lilPhoto {
  width: 405px;
  align-self: center;
}
